[submodule "third-party/executorch"]
	path = third-party/executorch
	url = https://github.com/pytorch/executorch.git
	branch = release/1.0

[submodule "program-data-separation/cpp/executorch"]
	path = program-data-separation/cpp/executorch
	url = https://github.com/pytorch/executorch.git
	branch = release/0.7
